@import './theme.css';
@import './animations.css';

:root {
    --section-gap: 160px;
    --wrapper-width: 95%;
    --border-radius: 10px;
    --border-radius-2: 5px;
    --field-border: 1px solid var(--color-border);
    --field-border-hover: 1px solid var(--color-border-hover);
    @media(min-width: 1024px)
    {
        --wrapper-width: 80%;
    }
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}
#app {
    min-height: 100vh;
}

main{
    min-height: 100vh;

    width: var(--wrapper-width);
    margin: 5vh auto;
    min-height: 100vh;
    section {
        margin: 0 auto;
        padding: 3%;
        min-height: fit-content;
        h1{
            font-size: 2.1em;
        }
    }
    section.account {
        max-width: 600px;
        min-height: 80vh;
        padding: 3% 5%;
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
        box-shadow: .5px .8px 3px rgb(0, 0, 0, .5);     
    }
    input[type=submit]{
        height: 45px;
        width: 100px;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-primary-2);
        background-color: var(--color-primary-2);
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
    }
    input[type=submit]:hover{
        cursor: pointer;
        background-color: var(--color-primary-3);
        border-color: var(--color-primary-3);
    }
    form p{
        margin: 2vh 0;
    }
    fieldset{
        border:none;
        padding:0;
        margin: 2vh 0 5vh;
    }
    
    .field{
        margin: 3vh 0 3.1vh;
        max-width: 450px;
        height: 40px;
        padding-right: 30px;
        border-radius: var(--border-radius-2);
        border: var(--field-border);
        transition: all .2s ease-in;
        input {
            height: 100%;
            width: 100%;
            background-color: transparent;
            border:none;
            outline: none;
            padding: 0 5%;
            font-size: 1em;
        }
    }
    .field:focus-within {
        border-color: var(--color-border-hover);
    }
    
    .password-field, .new-password-field{
        position: relative;
        input::-ms-reveal,
        input::-ms-clear
        {
          display: none;
        }
        .password-toggle-btn{
            position: absolute;
            right:.5em;
            top:.5em;
        }
    }
    .new-password-field{
        .checkboxes{
            display: none;
            position:absolute;
            background-color: var(--color-background);
            border: var(--field-border-hover);
            z-index: 100;
            top: 100%;
            width: 90%;
            padding: 1% 3%;
            border-end-start-radius: var(--border-radius-2);
            border-end-end-radius: var(--border-radius-2);
            .checkbox-item{
                display:flex;
            }
        }
        .checkboxes-show {
            display:block;
        }
    }
    
    .new-password-field:focus-within{
        border-end-start-radius: 0;
        border-end-end-radius: 0;
        .checkboxes{
            display:block;
        }
        
    }
    .invalid-msg{
        color:red;
        // display:none;
        padding: 0 2%;
    }
    .invalid{
        border-color: red !important;
        .checkboxes{
            border-color: red;
        }
        // .invalid-msg{
        //     display:block;
        // }
    }
    
    .field-flex{
        display:flex;
        gap: 10px;
        height: 100%;
    }
    .date {
        padding-right: 0px;
        border:none;
        .field-flex {
            select{
                border-radius: var(--border-radius-2);
                border: 1px solid var(--color-border);
                background: none;
            }
            select:focus-within{
                border-color: var(--color-border-hover);
            }
            #day{
                flex-grow: .3;
            }
            #month{
                flex-grow: .7;
            }
            #year{
                flex-grow: .5;
            }
        }
        label{
            display:block;
            margin-bottom: 5px;
        }
    }  
    select{
        padding: 0 5%;
        &.default{
            color: var(--color-text-2)
        }
        option{
            color: var(--color-text);
        }
    }
}


.margin-top{
    margin-top: 5vh !important;
}
