@import './theme.css';
@import './animations.css';
@import './fonts.scss';

:root {
    --section-gap: 160px;
    --wrapper-width: 95%;
    --border-radius: 10px;
    --border-radius-2: 5px;
    --border: 1px solid var(--color-border);
    --border-hover: 1.2px solid var(--color-border-hover);
    @media(min-width: 1024px)
    {
        --wrapper-width: 80%;
    }
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}
#app {
    min-height: 100vh;
}

.invalid {
    border-color: rgb(200, 0, 0) !important;
    box-shadow: 0px 0px 4px rgb(250, 150, 150);
}
.valid {
    border-color: rgb(0, 162, 0) !important;
}



section.account {
    max-width: 600px;
    min-height: 80vh;
    padding: 3% 5%;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: .5px .8px 3px rgb(0, 0, 0, .5);     
}

.margin-top{
    margin-top: 5vh !important;
}
